* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
    background-color: #eee;
}
.header {
    background-color: #fff;
    box-shadow: 3px 0px 3px black;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: stretch;
    padding: 12px;
    gap: 20px;
}
.sidebar {
    background-color: #1992d4;
    grid-row: 1 / 3;
    color: #fff;
    padding: 12px;
    display: grid;
    grid-template-rows: 100px 200px 200px;
    gap: 50px;
}
.section {
    display: grid;
    grid-template-columns: 50px 50px;
    align-content: center;
    align-items: center;
    row-gap: 12px;
    column-gap: 20px;
}
.text {
    font-size: 1.2rem;
    font-weight: 600;
}
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: #111;
    padding: 25px;
    gap:  30px;
    background-color: #e2e8f0;
}
.cards-container {
    grid-column: 1;
    grid-row: span 2;
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 15px;
    align-self: stretch;
}
.title {
    grid-column: 1 / 3;
}
.card {
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    border-left: 5px solid #f0b429;
    font-size: 1.2rem;
    line-height: 1.5;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.announcements-container, .trending-container {
    display: grid;
    grid-template-rows: 20px 1fr;
    gap: 30px;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #aaa;
}
.announcements {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}
.trending {
    display: grid;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    grid-template-columns: 1fr;
    gap: 12px;
}
.trending-person {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 20px;
}
.announcement {
    line-height: 1.5;
}
.rounded {
    border-radius: 50%;
}
.search {
    display: grid;
    grid-template-columns: 40px 1fr 50px 50px 120px;
    align-items: center;
    gap: 10px;
}
#magnify {
    justify-self: end;
}
#inp {
    width: 400px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid gray;
}
.navigation {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    align-items: center;
    gap: 20px;
}
.greeting {
    font-size: 1rem;
    font-weight: 500;
}
.username-large {
    font-size: 1.5rem;
    font-weight: 600;
}
.username {
    font-size: 1rem;
    font-weight: 600;
}
.buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.btn {
    border: none;
    padding: 8px 16px;
    font-size: 1.2rem;
    background-color: #1992d4;
    color: #fff;
    border-radius: 20px;
}
p {
    color: #808080;
}

